{% extends "layout.html" %}
{% block content %}
  <p><h2 class="card-title">Please select the channels you want to analyze</h2></p>
  <p></p>

  <form class="" action="/channels">
  <p></p>

    {% for query in query_results %}
      <p><h5 class="card-title">Please select a channel from the search results for "{{ query }}"</h5></p>
        <fieldset>

          {% for item in query_results[query]['items'] %}
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <div>
                      <p>
                        <img src="{{ item['snippet']['thumbnails']['medium']['url'] }}" alt="">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <div class="test">

                      <h5 class="card-title">Channel: {{ item['snippet']['title'] }}</h5>
                      <p class="card-text"></p>
                      <p>
                        <input
                          type="radio"
                          name="{{ query }}"
                          id="{{ item['snippet']['channelId'] }}"
                          value="{{ item['snippet']['channelId'] }}">
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p></p>
          {% endfor %}

        </fieldset>
      <hr>
    {% endfor %}

    <p><input type="submit" class="btn btn-primary" value="Compare channels now"></p>

  </form>

{% endblock content %}
